
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/new.css">
  </head>
  <body>
      <div class="topnav">
        <div class="left-nav">
          <img src="../public/images/Sexy-Fox-Logo.png" style="width: 128px; height: 128px;"/><a >Fox News</a>
        </div>
        <div class="middle-nav">
          <p>Call us: XXXXXXXXXX / arjundhawan2002@gmail.com</p>
        </div>
        <div class="right-nav">
        <a class="right-nav-elements" >Home</a>
        <a class="right-nav-elements">News</a>
        <a class="right-nav-elements">Contact</a>
        <a class="right-nav-elements">About</a>
      </div>
      </div>
      <div class="updates-text"><p class="update-text">Latest Updates</p></div>
      <div class="blog-container">
        <div class="first-item"><img src="../public/images/Bug.png" style="width: 400px; height: 400px;"/></div> 
        <div class="second-item"><img src="../public/images/FailToSucceed.png" style="width: 400px; height: 400px;"/></div>
        <div class="third-item"><img src="../public/images/Netlify.png" style="width: 350px; height: 131px;"/></div>
        <div class="fourth-item"><img src="../public/images/3Lang.png" style="width: 400px; height: 400px;"/></div>       
      </div>
    

  </body>
</html>
