<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="sign" style="border-top:20px solid #5D4E48">
      <div class="container">
        <h1><a href="/ok">BLOG</a></h1>
        <div class="panel">
          <h2>Log in</h2>
          <form action="/login" method="post">
            <p>Email</p>
            <input type="text" name="email">
            <p>Password</p>
            <input type="password" name="password">
            <input type="submit" style="background-color:#5D4E48;" value="Log in">
            <a href="/ok">Back to articles</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
