<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top">
      <div class="wrapper">
        <div class="content">
          <h2>Fox Learning Blog</h2>
          <h1><img src="/images/Sexy-Fox-Logo.png" alt=""></h1>
          <p>A trivia blog about programming.<br>Here are some tidbits of knowledge that I would like to share.</p>
          <a class="btn" href="/ok" style="background-color:#5D4E48;">Start reading</a>
        </div>
            </div>
    </div>
  </body>
</html>